---
import "../global.css";

import Analytics from "@vercel/analytics/astro";

const domain = "https://arthur-salle.fr";
const title = "Arthur Sallé | Frontend Developer";
const description =
  "Arthur Sallé, a frontend developer based in Angers, France, specializing in building modern web applications with a focus on user experience and performance.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content="Arthur Sallé" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={domain} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={`${domain}/c-og-img.webp`} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={domain} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={`${domain}/c-og-img.webp`} />

    <Analytics />
  </head>
  <body>
    <slot />
  </body>
</html>
